
.code{
    /* position: absolute; */
    width: 35%;
    height: 40%;
    overflow: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace;
    background-color: black;
    color: white;
    right: 10px;
    bottom: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    @media screen and (max-width: 1000px) {
        width: 90%;
        height: 200px;
    }
    z-index: 10000;
}
